<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To Braintree</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="container mx-auto">
        <div class="flex flex-col gap-4">
            
                <h1 class="font-bold text-2xl">Braintree Cards components</h1>

                <a class="underline text-blue-600 hover:text-blue-800" href="./dropin">Dropin</a>
                <a class="underline text-blue-600 hover:text-blue-800" href="./hostedfields">Hosted Fields</a>

            </div>
        </div>
</body>

</html>